<template>
  <div class="card">
    <div class=card-first-section>
      <h2 class="card-title">Detalhe do Produto</h2>
    </div>
    <div class="card-second-section">
      <div class="detail">
        <ul>
          <li class="detail-info">Nome: {{ item.name }}</li>
          <li class="detail-info">Dimensões: {{ item.dimensions }}</li>
          <li class="detail-info">Peso: {{ item.weight }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import './styles.css';

  export default {
    data() {
      return {
        item: {}
      }
    },
    async created() {
      try {
        const response = await axios.get('http://localhost/api/products/show', { params: { id: this.$route.params.id }});

        this.item = response.data;
      } catch (e) {
        alert(e);
      }
    }
  }
</script>