<template>
  <div class="card-product">
    <div class=card-first-section>
      <h2 class="card-title">Produtos</h2>
      <router-link :to="{ name: 'Create Product'}"><button class=card-btn>Adicionar</button></router-link>
    </div>
    <div class="card-second-section">
      <table class="card-table">
        <tr class="card-table-line">
          <td class="card-table-item-1"><b>Cod Produto</b></td>
          <td class="card-table-item-1"><b>Nome</b></td>
          <td class="card-table-item-1"><b>Altura</b></td>
          <td class="card-table-item-1"><b>Largura</b></td>
          <td class="card-table-item-1"><b>Diametro</b></td>
          <td class="card-table-item-1"><b>Comprimento</b></td>
          <td class="card-table-item-1"><b>Peso</b></td>
        </tr>
        <tr class="card-table-line" v-for="product in products" :key="product.id">
          <td class="card-table-item-1">{{ product.id }}</td>
          <td class="card-table-item-1">{{ product.name }}</td>
          <td class="card-table-item-1">{{ product.dimensions.altura }}</td>
          <td class="card-table-item-1">{{ product.dimensions.largura }}</td>
          <td class="card-table-item-1">{{ product.dimensions.diametro }}</td>
          <td class="card-table-item-1">{{ product.dimensions.comprimento }}</td>
          <td class="card-table-item-1">{{ product.weight }}</td>
          <td class="card-table-item-2">
            <router-link :to="{ name: 'Show Product', params: { id: product.id }}"><button class="table-btn">Ver</button></router-link>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import './styles.css';

  export default {
    data() {
      return {
        products: []
      }
    },
    async created() {
      try {
        const response = await axios.get('http://localhost/api/products/list');

        let products = [];

        response.data.forEach(function (value) {
          products.push(value);
        });

        this.products = products;
      } catch (e) {
        alert(e);
      }
    }
  }
</script>