.card-product {
    margin: 70px auto;
    width: 980px;
    min-height: 300px;
    max-height: 600px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgb(128, 128, 128);
    background-color: #fff;
}