<template>
  <section>
    <div class="card">
      <div class=card-first-section>
        <h2 class="card-title">Pedidos</h2>
        <router-link :to="{ name: 'Create Order'}"><button class=card-btn>Adicionar</button></router-link>
      </div>
      <div class="card-second-section">
        <table class="card-table">
          <tr class="card-table-line">
            <td class="card-table-item-1"><b>Cod Pedido</b></td>
            <td class="card-table-item-1"><b>Cep Origem</b></td>
            <td class="card-table-item-1"><b>Cep Destino</b></td>
            <td class="card-table-item-1"><b>Produto</b></td>
          </tr>
          <tr class="card-table-line" v-for="order in orders" :key="order.id">
            <td class="card-table-item-1">{{ order.id }}</td>
            <td class="card-table-item-1">{{ order.cep_origem }}</td>
            <td class="card-table-item-1">{{ order.cep_destino }}</td>
            <router-link :to="{ name: 'Show Product', params: { id: order.product_id }}"><td class="card-table-item-1">{{ order.product.name }}</td></router-link>
            <td class="card-table-item-2">
              <router-link :to="{ name: 'Show Order', params: { id: order.id }}"><button class="table-btn">Ver</button></router-link>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios';
  import './styless.css';

  export default {
    data() {
      return {
        orders: []
      }
    },
    async created() {
      try {
        const responseOrders = await axios.get('http://localhost/api/orders/list');

        let orders = [];

        for (const value of responseOrders.data) {
          const responseProduct = await axios.get('http://localhost/api/products/show', { params: { id: value.product_id }});

          value.product = responseProduct.data;

          orders.push(value);
        }

        this.orders = orders;
      } catch (e) {
        alert(e);
      }
    }
  }
</script>