<template>
  <div class="card">
    <div class="card-first-section">
      <h2 class="card-title-create">Criar produto</h2>
    </div>
    <div class="card-second-section">
      <div class="detail-create">
        <label class="detail-input">
          Nome:
          <input type="text" v-model="name">
        </label>
        <label class="detail-input">
          Comprimento:
          <input type="number" v-model="dimensions.comprimento">
        </label>
        <label class="detail-input">
          Altura:
          <input type="number" v-model="dimensions.altura">
        </label>
        <label class="detail-input">
          Largura:
          <input type="number" v-model="dimensions.largura">
        </label>
        <label class="detail-input">
          Diametro:
          <input type="number" v-model="dimensions.diametro">
        </label>
        <label class="detail-input">
          Peso:
          <input type="number" v-model="weight">
        </label>
        <button v-on:click="create" class=card-btn>Criar</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import './styles.css';

export default {
  data() {
    return {
      name: '',
      weight: 0,
      dimensions: {}
    }
  },
  methods: {
    create: async function () {
      await axios.post('http://localhost/api/products/store', {
        name: this.name,
        weight: this.weight,
        dimensions: this.dimensions
      });

      await this.$router.push({name: 'Products'});
    }
  }
}
</script>