<template>
  <nav class="nav-bar">
    <ul class="nav-list">
      <li class="nav-item">
        <router-link :to="{ name: 'Products' }">Produtos</router-link>
      </li>
      <li class="nav-item">
        <router-link :to="{ name: 'Orders' }">Pedidos</router-link>
      </li>
      <li class="nav-item">
        <router-link :to="{ name: 'Quotation' }">Cotação de Frete</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
  import './styles.css';

  export default {
    data() {
      return {

      }
    }
  }
</script>