body {
    background-color: rgb(245, 245, 245);
}

.nav-list {
    margin-top: 40px;
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: space-around;
}

.nav-item {
    font-size: 26px;
    list-style: none;
    transition: 0.3s;
}

.nav-item a {
    text-decoration:none;
}

.nav-item:hover {
    font-size: 28px;
    cursor: pointer;
    color: rgb(75, 75, 75);
}