<template>
  <div class="card">
    <div class=card-first-section>
      <h2 class="card-title-create">Cotação de Frete</h2>
    </div>
    <div class="card-second-section">
      <div class="detail-create">
        <label class="detail-input">
          Pedido:

          <select v-model="order_id" class="detail-input">
            <option v-bind:value="order.id" v-for="order in orders" :key="order.id">
              {{ order.id }}
            </option>
          </select>
        </label>

        <label class="detail-input">
          Serviço:

          <select v-model="service" class="detail-input">
            <option value="04510">
              PAC
            </option>
            <option value="04014">
              SEDEX
            </option>
          </select>
        </label>

        <label class="detail-input">
          Valor: {{ quotation_value }}
        </label>

        <label class="detail-input">
          Mensagem: {{ quotation_message }}
        </label>

        <button v-on:click="quotation" class=card-btn>Cotar</button>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import './styles.css';

  export default {
    data() {
      return {
        order_id: 0,
        service: 0,
        orders: [],
        quotation_value: '',
        quotation_message: ''
      }
    },
    async created() {
      try {
        const response = await axios.get('http://localhost/api/orders/list');

        let orders = [];

        response.data.forEach(function (value) {
          orders.push(value);
        });

        this.orders = orders;
      } catch (e) {
        alert(e);
      }
    },
    methods: {
      quotation: async function () {
        const responseQuotation = await axios.post('http://localhost/api/quotations', {
          order_id: this.order_id,
          service: this.service
        });

        this.quotation_value = responseQuotation.data.Servicos.cServico.Valor;
        this.quotation_message = responseQuotation.data.Servicos.cServico.MsgErro;
      }
    }
  }
</script>