.detail-create {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.detail-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: 600;
}

.detail-input > input {
    width: 200px;
}

.detail-input > select {
    width: 210px;
    height: 22px;
}

.card-first-section .card-title-create {
    margin: 30px auto;
}