<template>
  <div id="app">
    <Header/>
    <router-view/>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header/index.vue';

import './assets/styles/cards.css';

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>
