.card {
    margin: 70px auto;
    width: 610px;
    min-height: 300px;
    max-height: 600px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgb(128, 128, 128);
    background-color: #fff;
}

.card-title {
    margin-left: 30px;
    font-size: 30px;
}

.card-btn {
    width: 120px;
    height: 45px;
    margin-right: 30px;
    margin-top: 23px;
    border: none;
    border-radius: 4px;
    background-color: rgb(42, 191, 250);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    color: rgb(68, 68, 68);
}

.card-btn:hover {
    background-color: rgb(54, 166, 240);
    color: #383838;
}

.card-first-section {
    display: flex;
    justify-content: space-between;
}

.card-table {
    margin-left: 30px;
}

.card-table-line {
    display: flex;
}

.card-table-item-1, .card-table-item-2 {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    height: 30px;
}

.card-table-item-1 {
    width: 110px;
}

.card-table-item-2 {
    width: 50px;
}

.table-btn {
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(42, 191, 250);
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    color: rgb(68, 68, 68);
}

.table-btn:hover {
    background-color: rgb(54, 166, 240);
    color: #383838;
}