<template>
  <div class="card">
    <div class="card-first-section">
      <h2 class="card-title-create">Criar pedido</h2>
    </div>
    <div class="card-second-section">
      <div class="detail-create">
        <label class="detail-input">
          Cep origem:
          <input type="text" v-model="cep_origem">
        </label>
        <label class="detail-input">
          Cep destino:
          <input type="text" v-model="cep_destino">
        </label>
        <label class="detail-input">
          Produto:

          <select v-model="product_id" class="detail-input">
            <option v-bind:value="product.id" v-for="product in products" :key="product.id">
              {{ product.name }}
            </option>
          </select>
        </label>
        <button v-on:click="create" class=card-btn>Criar</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import './styles.css';

export default {
  data() {
    return {
      cep_origem: '',
      cep_destino: '',
      product_id: 0,
      products: []
    }
  },
  async created() {
    try {
      const response = await axios.get('http://localhost/api/products/list');

      let products = [];

      response.data.forEach(function (value) {
        products.push(value);
      });

      this.products = products;
    } catch (e) {
      alert(e);
    }
  },
  methods: {
    create: async function () {
      await axios.post('http://localhost/api/orders/store', {
        cep_origem: this.cep_origem,
        cep_destino: this.cep_destino,
        product_id: this.product_id
      });

      await this.$router.push({name: 'Orders'});
    }
  }
}
</script>